*{
    box-sizing:border-box;
  }
  

.hero-carousel-container{
    border:1px solid black;
    position:relative;
    text-align:center;
}

// .hero-carousel{
//     border: 1px solid red;
//     border-radius: 10px;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//     display: inline-block;
//     height:500px;
//     margin:10px;
//     overflow:hidden;
//     position:relative;
//     width:90%;
// }
  .hero-carousel{
      position:relative;
      height:500px;
      overflow:hidden;
      width:100%;
  }
  
.sliding-image{
    background-position: 30% 10%;
    background-repeat: no-repeat;
    background-size:cover;
    display: block;
    float:left;
    height:600px;
    object-fit:cover;
    position:absolute;
    top:-100px;
    width:100%;
    z-index:100;
}
  
  .display{
      opacity:1;
  }

  .displayNext{
    opacity:1;
  }  
  
  .hide{
      opacity:0;
  }
  
  .chevron-left{
      border: 1px solid white;
      border-top:0px;
      border-right:0px;
      display:block;
      float:left;
      height: 50px;
      left: 80px;
    opacity: 0.5;
      position:absolute;
      transform: rotate(45deg); /* Equal to rotateZ(45deg) */
      top: 240px;
      width: 50px;
      z-index:2000;
    transition: border 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .chevron-left:hover{
      border: 10px solid black;
    border-top:0px;
      border-right:0px;
      cursor:pointer;
    opacity: 1;
  }
  
  .chevron-right{
      border: 1px solid white;
      border-bottom:0px;
      border-left:0px;
      display:block;
      float:right;
      height: 50px;
    opacity:0.5;
      position:absolute;
      right:80px;
      transform: rotate(45deg);
      top: 240px;
      width: 50px;
      z-index:2000;
    transition: border 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .chevron-right:hover{
      border: 10px solid black;
    border-bottom:0px;
      border-left:0px;
      cursor:pointer;
    opacity:1;
  }
  
  

  /*Extra large devices (large desktops, 1200px and up)*/
  @media (max-width: 1200px) {  }
  
  /*Large devices (desktops, 992px and up)*/
  @media (max-width: 992px) {
    
  }
  
  /*Medium devices (tablets, 768px and up)*/
  @media (max-width: 768px){
    
  
    .chevron-left{
      display:none;
    }
  
    .chevron-right{
      display:none;
    }
  
  }
  
  /*Small devices (landscape phones, 576px and up)*/
  @media (max-width: 576px) {
   
  }
  