*{
    box-sizing:border-box;
}
  
.privacy-policy-container{
    height: 100%;
    overflow-y: auto;
    position: fixed;
    text-align:center;
    width: 100%;
    z-index: 5500;
}
  
.privacy-policy-page{
    background-color:white;
    border: 1px solid #ddd;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:100px;
    display:inline-block;
    max-height: 3100px;
    margin-bottom:50px;
    padding:20px;
    position: relative;
    top:50px;
    max-width: 700px;
    bottom:20%;
}
  