.button-go-home{
    border:1px solid black;
    border-radius:50px;
    cursor: pointer;
    display:block;
    float:right;
    font-size:30px;
    height:30px;
    position:relative;
    right:5px;
    text-align:center;
    top:5px;
    width:30px;
  }
  
  .button-go-home-text{
    color:white;
    position:relative;
    text-decoration:none;
    top:-3px;
  }

 