//PARTIALS
@import './styleWebpages/partials/HeaderPartial.scss';
@import './styleWebpages/partials/CarouselPartial.scss';
@import './styleWebpages/partials/BodyPartial.scss';
@import './styleWebpages/partials/FooterPartial.scss';


//PAGES
@import './styleWebpages/pages/TransparentBackgroundLayer.scss';
@import './styleWebpages/pages/SingleProductPage.scss';
@import './styleWebpages/pages/AboutUs.scss';
@import './styleWebpages/pages/PrivacyPolicy.scss';
@import './styleWebpages/pages/Security.scss';
@import './styleWebpages/pages/TermsAndConditions.scss';
@import './styleWebpages/pages/ShippingsAndReturns.scss';


//COMMON
@import './styleWebpages/common/ButtonGoHome.scss';


